# Development server starting scripts
server/start.bat

# Environment variables
server/PusoyDosOnline/.env
server/.env

# Migrations
server/PusoyDosOnline/PusoyDosServer/migrations/__init__.py
server/PusoyDosOnline/PusoyDosServer/migrations/0001_initial.py
server/PusoyDosOnline/PusoyDosServer/migrations/*
server/PusoyDosOnline/PusoyDosServer/migrations/

# Node Modules
node-server/node_modules

# B R O
server/